<div id="newvcontainer"></div>
    <div id="newhcontainer">
        <div id="newcontent">

            <div class="users_title">Sign up!
                
            </div>

            <%= render partial: 'layouts/errors', locals: {object: @user } %>

            <%= form_for @user do |f| %>
                <%= f.label :username %>
                <%= f.text_field :username %>
                <br>
                <%= f.label :password %>
                <%= f.password_field :password %>
                <br>
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation %>
                <br>
                <%= f.submit %>
            <% end %>
        </div>
    </div>
</div>
