<% if @establishment %>
   <h1> <%= @establishment.name%> </h1> 
      <p><%= link_to "Add a Review", new_establishment_review_path(@establishment)%></p> 
<% else %>
<h1>All Reviews </h1>
<% end %> 
<div class="reviews">
   <% @reviews.each do |r| %>
      <div class="reviews_card">
         <h3><%= r.user.username %> rated <%= r.establishment.name %> <strong><%= r.overall_rating%> stars </strong> <%= link_to "Go to review", review_path(r)%> </h3>
      </div>
   <% end %>
</div>