<% if @establishment %>
   <h4> <%= @establishment.name%> </h4> 
      <h4><%= link_to "Add a Review", new_establishment_review_path(@establishment)%></h4> 
<% else %>
<h2>All Reviews </h2>
<% end %> 
<div class="reviews">
   <% @reviews.each do |r| %>
      <div class="reviews_card">
         <h3><%= r.user.username %> rated <%= r.establishment.name %> <strong><%= r.overall_rating%> stars </strong> <%= link_to "Go to review", review_path(r)%> </h3>
      </div>
   <% end %>
</div>