<% if @establishment %>
   <h1><%= @establishment.name%> </h1>
   <ul>
      <% @establishment.name.reviews each do |r| %>
         <li><%= link_to r.establishment.name, review_path(r)  %> <strong><%= r.overall_rating%> stars </strong></li> 
      <% end %>
      </ul>
<% else %>
<h1>All Reviews </h1>
<% end %> 
<ul>
<% @reviews.each do |r| %>
   <li><%= link_to r.establishment.name, review_path(r)  %> <strong><%= r.overall_rating%> stars </strong></li> 
<% end %>
</ul>