<h1>Make a new Review!(Be kind)</h1> 
    <%= form_for @review do |f| %>
    <p>Rate the following prompts from 0-5</p>
    <div>
        <%= f.label :is_there_good_air_ventilation? %>
        <%= f.number_field :good_air_ventilation, min:0, max:5 %>
    </div>
    <div>
        <%= f.label :do_the_staff_practice_safe_covid_protocols?%>
        <%= f.number_field :staff_practicing_safe_covid_protocols, min:0, max:5 %>
    </div>
    <div>
        <%= f.label :are_the_seats_far_apart?%>
        <%= f.number_field :seats_far_apart, min:0, max:5 %>
    </div> <br>
    Check the box if this venue has comfortable outside seating
    <br>
    <div>
        <!-- <%= f.label :outside_seating%> -->
        <%= f.check_box :outside_seating %>
    </div>
    <br>
    <div>
        <%= f.label :additional_comments %>
        <%= f.text_area :additional_comments %>
    </div>
    <%= f.hidden_field :establishment_id %>

    
    
    <br>
    <%= f.submit "Submit Review" %>

    <% end %>






