<h1>NYC PLACES</h1>

<p><%= flash[:error] %></p><br>

<%= form_with url:"/search", local: :true do |f| %>
    <%= f.label "Search:"%>
    <%= f.text_field :q%>
    <%= f.submit "Search"%>
<% end %>

<% @establishments.each do |e| %>
    <div class="establishment-card">
        <div class="establishment-title">
            <p><%= e.category.name%> </p> 
        </div>
        <div class="establishment-names">
            <p><%= link_to e.name, establishment_reviews_path(e)%></p>
        </div>
        <div class="img">
            <p><%= e.location%></p>
        </div>
    </div> 
<% end %>
