<h1>⎮<%= @establishment.name%>- <%= @establishment.category.name%>⎮</h1>

<% if @establishment.image.attached? %> <%#Could be a good place for a helper%>
    <%= image_tag url_for(@establishment.image)%>
<% end %>

<div>
    <p><strong><%= @establishment.location %></strong> </p>
</div>
<br><br>
<%= link_to "See all Reviews", establishment_reviews_path(@establishment) %>
<br><br>
<%= link_to "Add a Review", new_establishment_review_path(@establishment)%>


