<div class="header">
<div class="title">Covid Safe</div>
    <% if current_user %>
        <div class="username">
            <i>welcome, <%= current_user.username %></i>
        </div>
    <% end %>
    <div class="nav">
    <% if logged_in? %> 
        <div><%= link_to "Home", root_path %></div>
        <div><%= link_to "Add a New Place", new_establishment_path%></div>
        <div><%= link_to "Add a Review", new_review_path%></div>
        <div><%= link_to "Browse Reviews", reviews_path%></div>
        <div><%= link_to "NYC Establishments", establishments_path%></div>
        <div><%= link_to "My Reviews", user_path(current_user)%></div>
    <% else %>
        <div><%= link_to "Home", root_path %></div>
        <div><%= link_to "Signup! To make your own review", signup_path %></div>
        <div><%= link_to "Login", login_path%></div>
        <div><%= link_to "Or log In with Google", '/auth/google_oauth2' %> </div>
        <div><%= link_to "Browse Reviews", reviews_path%></div>
        <div><%= link_to "NYC Establishments", establishments_path%></div>
    <% end %>
    </div>
</div>


 
    
    
    
    
